.App {
  text-align: center;
}


.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: aqua;
  color: black;
  border-radius: 12px;
}

input{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 12px;
  padding: 0;
  border-collapse: collapse;
  align-content: center;
  max-width: 55%;
}

Link{
  font-size: 35px;
  color: aqua;
}


.im-gif{
  width: 300px;
  padding: 0 auto;
  border-radius: 50px;
}

